<div class="container-fluid">
  <div class="row pt-5">
    <div class="col-sm-2 cardcolor card-form ">
      <li class="list-unstyled">
        <ul><button class="btn btn-outline-primary" (click)="composeMail()">Compose</button></ul>
        <ul><a routerLink="" (click)="changeFolder('INBOX')">Inbox</a></ul>
        <ul><a routerLink="" (click)="changeFolder('SEND')">Send</a></ul>
        <ul><a routerLink="" (click)="changeFolder('ARCHIVE')">Archive</a></ul>
        <ul><a routerLink="" (click)="changeFolder('DELETE')">Deleted</a></ul>
      </li>
    </div>
    <div class="col-xs-6 col-md-6 col-lg-6 col-xl-6 ml-5 cardcolor card-form">
      <table class="table table-striped">
        <thead *ngIf="!compose">
          <div *ngIf="emailData.length > 0">
          <tr class="cursor-pointer" *ngFor="let email of emailData" (click)="viewEmail(email)">
            <th>{{email.sender}} - {{ email.subject }} &nbsp;&nbsp;&nbsp;
              <span *ngIf="email.folder != 'SEND'">
                <a routerLink="" *ngIf="email.folder != 'INBOX'"
                  (click)="moveToFolder('INBOX', email._id)">INBOX</a>&nbsp;&nbsp;
              </span>
              <a routerLink="" *ngIf="email.folder != 'ARCHIVE'"
                (click)="moveToFolder('ARCHIVE', email._id)">ARCHIVE</a>&nbsp;&nbsp;
              <a routerLink="" *ngIf="email.folder != 'DELETE'"
                (click)="moveToFolder('DELETE', email._id)">DELETE</a>&nbsp;&nbsp;
            </th>
          </tr>
        </div>
        <div *ngIf="emailData.length <= 0">No data found..!</div>
        </thead>

        <thead *ngIf="compose">
          <!-- <div class="col-md-9"> -->
          <div class="col-xs-12 col-md-12 col-lg-12 col-xl-12 ml-5">
            <div class="panel panel-default">
              <div class="panel-body message">
                <!-- <p class="text-center">New Message</p> -->
                <!-- <form class="form-horizontal" role="form"> -->
                  <div class="form-group">
                    <label for="to" class="col-sm-1 control-label">To:</label>
                    <div class="col-sm-11">
                      <input type="email" class="form-control select2-offscreen" id="receiptId" placeholder="Type email"
                        tabindex="-1" [(ngModel)]="composeMailData.receipt" [disabled]="!editable">
                    </div>
                  </div>
                  <div class="form-group">
                    <label for="cc" class="col-sm-1 control-label">CC:</label>
                    <div class="col-sm-11">
                      <input type="email" class="form-control select2-offscreen" id="ccReceiptId" placeholder="Type email"
                        tabindex="-1" [(ngModel)]="composeMailData.ccReceipt" [disabled]="!editable">
                    </div>
                  </div>
                  <div class="form-group">
                    <label for="bcc" class="col-sm-1 control-label">Subject:</label>
                    <div class="col-sm-11">
                      <input type="text" class="form-control select2-offscreen" id="subjectId" placeholder="Type subject"
                        tabindex="-1" [(ngModel)]="composeMailData.subject" [disabled]="!editable">
                    </div>
                  </div>
                <!-- </form> -->

                <div class="col-sm-11 col-sm-offset-1" >
                  <div class="btn-toolbar" role="toolbar" *ngIf="editable">
                    <div class="btn-group">
                      <button class="btn btn-default"><span class="fa fa-bold"></span></button>
                      <button class="btn btn-default"><span class="fa fa-italic"></span></button>
                      <button class="btn btn-default"><span class="fa fa-underline"></span></button>
                    </div>

                    <div class="btn-group" *ngIf="editable">
                      <button class="btn btn-default"><span class="fa fa-align-left"></span></button>
                      <button class="btn btn-default"><span class="fa fa-align-right"></span></button>
                      <button class="btn btn-default"><span class="fa fa-align-center"></span></button>
                      <button class="btn btn-default"><span class="fa fa-align-justify"></span></button>
                    </div>
                  
                    <button class="btn btn-default" *ngIf="editable"><span class="fa fa-trash-o"></span></button>
                  </div>
                  <br>

                  <div class="form-group">
                    <textarea class="form-control" id="messageId" name="bodyName" rows="8"
                      placeholder="Click here to reply" [(ngModel)]="composeMailData.mailBody" [disabled]="!editable"></textarea>
                  </div>

                  <div class="form-group" *ngIf="editable">
                    <button type="submit" class="btn btn-success" (click)="sendEmail()">Send</button>
                    <!-- <button type="submit" class="btn btn-default">Draft</button> -->
                    <button type="submit" class="btn btn-danger ml-3" (click)="changeFolder('INBOX')" >Discard</button>
                  </div>
                </div>
              </div>
            </div>
          </div>
          <!--/.col-->


        </thead>
      </table>
    </div>
  </div>
</div>